<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="vietex" version="4.0" />
   <package id="miktex" version="20.11.0.20201119" packageParameters="/Set:basic" />
   <package id="Ghostscript" version="9.53.3" />
   <package id="sumatrapdf" version="3.2" />
   <package id="adobereader" version="2020.013.20074" />
   <package id="unikey" version="4.3.200929" />
   <package id="Ipe" version="7.2.21" />
   <package id="tpx" version="1.5" packageParameters="/InstallDir:C:\vietex\tpx" />
   <package id="wintpic" version="4.32" packageParameters="/InstallDir:C:\vietex\template\wintpic" />
</packages>