<!DOCTYPE html>
<html {% if page.lang %}lang="{{ page.lang }}"{% else %}lang="en"{% endif %}>

{% include head.html %}

<body>

<div class="container">

{% if page.lang == "vi" %}
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div style="margin-top:15px; float:right;">
	<a href="https://www.buymeacoffee.com/hoanganhduc" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 40px !important;width: 160px !important;" ></a>
</div>
<h1 class="display-5">{{ page.title }}</h1>
<div style="text-align: right;">
{% if page.date %}<strong>Khởi tạo:</strong> {{ page.date | date: '%d/%m/%Y' }} &emsp;{% endif %}
<strong>Cập nhật:</strong> {{ page.last_modified_at | date: '%d/%m/%Y' }} &emsp;
{% if page.categories %}<strong>Phân loại:</strong> {{ page.categories | join: ', ' }} &emsp; {% endif %}
<a href="#" onclick="window.print();return false;">In trang này</a> &emsp;
<a href="{{ site.baseurl }}/">Trở lại trang chủ</a>
</div>
{% else %}
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div style="margin-top:15px; float:right;">
	<a href="https://www.buymeacoffee.com/hoanganhduc" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 40px !important;width: 160px !important;" ></a>
</div>
<h1 class="display-5">{{ page.title }}</h1>
<div style="text-align: right;">
{% if page.date %}<strong>Created:</strong> {{ page.date | date: '%B %d, %Y' }} &emsp;{% endif %}
<strong>Last Modified:</strong> {{ page.last_modified_at | date: '%B %d, %Y' }} &emsp;
{% if page.categories %}<strong>Category:</strong> {{ page.categories | join: ', ' }} &emsp; {% endif %}
<a href="#" onclick="window.print();return false;">Print this page</a> &emsp;
<a href="{{ site.baseurl }}/">Back to Home</a>
</div>
{% endif %}
<hr>

{% include extras.html %}

{{ content }}

<hr>

{% include footer.html %}

</div>
</div>
</div>

{% if page.latexml %}
<script>
// Taken from https://ar5iv.org/
// Auxiliary function, building the preview feature when
// an inline citation is clicked
function clicked_cite(e) {
	e.preventDefault();
	let cite = this.closest('.ltx_cite');
	let next = cite.nextSibling;
	if (next && next.nodeType == Node.ELEMENT_NODE && next.getAttribute('class') == "ar5iv-bibitem-preview") {
	next.remove();
	return; }
	// Before adding a preview modal,
	// cleanup older previews, in case they're still open
	document.querySelectorAll('span.ar5iv-bibitem-preview').forEach(function(node) {
	node.remove();
	})

	// Create the preview
	preview = document.createElement('span');
	preview.setAttribute('class','ar5iv-bibitem-preview');
	let target = document.getElementById(this.getAttribute('href').slice(1));
	target.childNodes.forEach(function (child) {
	preview.append(child.cloneNode(true));
	});
	let close_x = document.createElement('button');
	close_x.setAttribute("aria-label","Close modal for bibliography item preview");
	close_x.textContent = "×";
	close_x.setAttribute('class', 'ar5iv-button-close-preview');
	close_x.setAttribute('onclick','this.parentNode.remove()');
	preview.append(close_x);
	preview.querySelectorAll('.ltx_tag_bibitem').forEach(function(node) {
	node.remove();
	});
	cite.parentNode.insertBefore(preview, cite.nextSibling);
	return;
}
// Global Document initialization:
// - assign the preview feature to all inline citation links
document.querySelectorAll(".ltx_cite .ltx_ref").forEach(function (link) {
	link.addEventListener("click", clicked_cite);
});
</script>
{% endif %}

</body>
</html>


