<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html {% if page.lang %} lang="{{ page.lang }}" {% else %} lang="en" {% endif %}>

{% include head.html %}

<body>

<div class="container">

<!-- Navigation -->
<!-- <table style="border-collapse: separate;">
  <tr>
  	{% for nav in site.data.navbar %}
    <th style="padding: 15px; background-color: #A3E4D7;"> 
    	<a href="{{ nav.href }}"><span style="font-size: 20pt;">{{ nav.title }}</span></a>
    </th>
    {% endfor %}
  </tr>
</table> -->

<!--
<div style="text-align: center;">
{% for nav in site.data.navbar %}
<span style="font-size: 20pt;">[<a href="{{ nav.href }}"><strong>{{ nav.title }}</strong></a>]&emsp;</span>
{% endfor %}
</div>

<hr>
-->

{% if page.lang == "vi" %}
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<h1>{{ page.title }}</h1>
<div style="text-align: right	;">
{% if page.date %}<strong>Khởi tạo:</strong> {{ page.date | date: '%d/%m/%Y' }} &emsp;{% endif %}
<strong>Cập nhật:</strong> {{ page.last_modified_at | date: '%d/%m/%Y' }} &emsp;
{% if page.categories %}<strong>Phân loại:</strong> {{ page.categories | join: ', ' }} &emsp; {% endif %}
<a href="#" onclick="window.print();return false;">In trang này</a> &emsp;
<a href="{{ site.baseurl }}/">Trở lại trang chủ</a>
</div>
{% else %}
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<h1>{{ page.title }}</h1>
<div style="text-align: right	;">
{% if page.date %}<strong>Created:</strong> {{ page.date | date: '%B %d, %Y' }} &emsp;{% endif %}
<strong>Last Modified:</strong> {{ page.last_modified_at | date: '%B %d, %Y' }} &emsp;
{% if page.categories %}<strong>Category:</strong> {{ page.categories | join: ', ' }} &emsp; {% endif %}
<a href="#" onclick="window.print();return false;">Print this page</a> &emsp;
<a href="{{ site.baseurl }}/">Back to Home</a>
</div>
{% endif %}
<hr>

{{ content }}

<hr>

{% include footer.html %}
	
</div>
</div>
</div>

</body>
</html>


